.gitattributes text eol=lf
cleanup text eol=lf
configure text eol=lf
configure.ucrt text eol=lf
configure.ac text eol=lf
Makefile text eol=lf
*.sh text eol=lf
*.h text eol=lf
*.md text eol=lf
*.R text eol=lf
*.Rd text eol=lf
src/*.mk text eol=lf
src/Makefile.in text eol=lf
